<div class="cntainer">
  <h2>Delivery Address </h2>
  <form action="" class="formDelivery">
    City: 
    <input type="text" placeholder="Enter City..." > 
    Street:
    <input type="text" placeholder="Enter Street..." > 
  </form>
  
  <h2>Billing Informations</h2>
  <form action="" class="formBilling">
    <label>Name:<input class="inline" type="text" placeholder="Your name..."></label>
    <br>
  
    <label>Surname:<input class="inline" type="text" placeholder="Your last name..."></label>
    <br>
  
    <label>Credit Card Number:<input class="inline" type="" placeholder=""></label>
    <br>
  
    <label>Card Code:<input class="inline" type="" placeholder=""></label>
    <br>
      
    <label>Experation Date:<input class="inline" type=""></label>
    <br>
  
  </form><br>
  
  <button>PAY NOW! </button>
  
  
  </div>