<div class="container">
  <div class="container">
    <a routerLink="">
      <img width=200px height=120px src="../../assets/images/logo.png">
    </a>
  </div>
  <div class="container hcenter">
    <ul>
      <li>
        <a routerLink="/custom">Custom pizza</a>
      </li>
      <li>
        <a routerLink="/about">About us</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
      <li>
        <a routerLink="/admin" *ngIf="loggedAdmin()">Admin</a>
      </li>
      <li>
        <a routerLink="/login" *ngIf="!loggedIn()">Login</a>
      </li>
      <li>
        <a routerLink="" *ngIf="loggedIn()" (click)='logOut()'>Logout</a>
      </li>
      
    </ul>
  </div>
  <div class="container hright">
    <a routerLink="/cart" id="cart">
      <img width=80px src="../../assets/images/cart.png">
    </a>
  </div>
</div>