<form>
    <div class="container">
        <h1>Contact</h1>
        <hr>

        <label for="name">
            <b>Name</b>
        </label>
        <input type="text" placeholder="Enter name" name="name">

        <label for="phone">
            <b>Phone</b>
        </label>
        <input type="text" placeholder="Enter phone number" name="phone">

        <label for="email">
            <b>Email</b>
        </label>
        <input type="text" placeholder="Enter email" name="email">

        <label for="message">
            <b>Message</b>
        </label>
        <textarea rows="5" cols="50" placeholder="Enter your message" name="message"></textarea>

        <div class="clearfix">
            <button type="submit" class="btn btn-success">Send Message</button>
        </div>
    </div>
</form>